@page
@model CSharpProject.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn how to build web apps with <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
